#ignore target dir
target*/

.DS_Store

#*.orig
#
# Eclipse project files
#
#.classpath
#.project
#.settings*/
.springBeans
.metadata/
war*/

#libs for eclipse plugin - copied by maven
components_plugin/lib/

#
# IntelliJ IDEA project files
#
.idea*/
*.ipr
*.iml
*.iws
*.ids
atlassian-ide-plugin.xml

#ignore NetBeans project files
nb-configuration.xml
profiles.xml
catalog.xml
nbactions.xml

#ignore some temporary files
*.vpp~*

#ignore thumbnails created by windows
Thumbs.db

#ignore some log files
script/*.log

*.backup
#gradle files

.gradle*/
pom.xml.versionsBackup

run.osgi